{
  "singleQuote": true,
  "trailingComma": "all",
  "allowParens": "avoid",
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "^@mantine/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@app/(.*)$",
    "^@pages/(.*)$",
    "^@widgets/(.*)$",
    "^@features/(.*)$",
    "^@entities/(.*)$",
    "^@shared/(.*)$",
    "^[./](?!.*\\.module\\.scss$)",
    "^[../](?!.*\\.module\\.scss$)",
    ".*\\.module\\.scss$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "auto"
}
