.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  height: 100%;
  padding: 0.5rem;
  position: relative;

  overflow: auto;

  gap: 1rem;
}

.reorderButton {
  position: absolute;
  top: 4px;
  right: 4px;

  height: 2rem;
  width: 2rem;

  &[data-active='true'] {
    filter: invert(1);

    background-color: var(--background-color);
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
}

.sectionTitle {
  font-size: 0.875rem;
  padding: 0.25rem;
}

.folderList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.folderWrapper {
  display: flex;
  position: relative;
  align-items: center;
  cursor: grab;

  height: 2rem;

  user-select: none;

  &:active {
    cursor: grabbing;
  }

  .deleteButton {
    display: none;
  }

  & > .folderItem ~ .deleteButton {
    display: block;
  }
}

.folderItem {
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;

  border-radius: 0.3rem;
  background-color: var(--background-color);

  &:hover {
    filter: invert(0.1);
  }

  &[data-active='true'] {
    filter: invert(1);
  }
}
