.layout {
  height: 100dvh;
  display: flex;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.sidebar {
  --sidebar-width: 15rem;
  width: var(--sidebar-width);
}

.content {
  flex: 1;
  overflow: auto;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-size: 12px;
  color: var(--foreground-light-color);
}
